
JWT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Development configuration
NODE_ENV=development
PORT=3000


# Database configuration
DB_NAME='DatingAppDatabase'
DB_USER='username'
DB_PASSWORD='password'
AUTH_SOURCE='admin'
MONGODB_HOST='127.0.0.1'
