.message-input-box {
    position: fixed;
    bottom: 0;
    
    left: 50%;
    transform: translateX(-50%);

    padding-bottom: 6px;
    z-index: 9999;

    width : 85%;
    height : 5%;


    display: flex;
}

.message-input-box input{
    height: 100%;
    flex: 1;
    box-sizing: border-box; 
    width:80%;

    padding: 12px 16px;
    font-size: 1.2rem;
    line-height: 1; 
}
.message-input-box button {
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    width:15%
}

form{
    width:100%;
}