header {
  z-index: 99999;
  background-color: #ffd230;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1.5px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;

}

header h1 {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
