.small-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.message-container{
    width: 80%;
}

.user-box {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto; 
}


.message-box {
    position: relative;
    width: 95%;
    margin: 20px auto;
    
    padding: 15px;
    border-radius: 10px;
    display: flex;
    gap: 15px;

    max-width: 100%;
}

.message{
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-top: 40px;
    padding-left: 20px;
    overflow-wrap: anywhere;
    flex-wrap: wrap;
}

