.drop-container {
  position: relative;
  
}

.drop-button {
  font-size: 2rem;
  background: none;
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 500;
}

.drop-menu {
  position: absolute;
  top: 90%;
  right:0;
  background: var(--yellow-color);
  display: none;
  flex-direction: column;
  min-width: 150px;
}

.drop-menu.open {
  display: flex;
}

.drop-menu a {
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.drop-menu a:hover {
  background: #eee;
}

.button--logout {
  padding: 10px;
  background-color: rgb(49, 49, 49);
  color: white;
}