
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px; 
  padding-bottom: 40px;
}


.edit-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  padding: 40px 50px;
  width: 400px;
  box-shadow: 0 30px 80px rgba(0,0,0,0.25);
  text-align: center;
  backdrop-filter: blur(8px);
}


.edit-profile label {
  font-weight: 800; 
}


.edit-profile input[type="text"],
.edit-profile input[type="file"] {
  width: 100%;
  padding: 12px 0px 12px 12px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1rem;
  background: white;
  color: var(--button-dark);
  outline: none;
  transition: 0.2s;
}

.edit-profile .error {
  color: #d60000;
  background: rgba(148, 0, 0, 0.12);
  padding: 15px;
  border: 2px solid #d60000;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: 900;
}


.edit-profile .user-field {
  background: #f3f3f3;
  margin-bottom: 10px;
  border-radius: 0px;
  border: 5px solid #ccc;
}

section > div {
  margin: 20px 0;
}



@media (max-width: 768px) {

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }


  .edit-profile {
    width: 90%;
    padding: 20px 20px;
  }

  .edit-profile input[type="text"],
  .edit-profile input[type="file"] {
    font-size: 1rem;
    padding: 10px 0px;
  }
}

