.welcome-container {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20vh;
}


.welcome-image-section img {
  width: 400px;
  height: auto;
}


.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  
}


@media (max-width: 768px) {

  .welcome-container{
    flex-direction: column;
    gap: 5px;
    padding: 15px;
  }

  .welcome-image-section img {
    width: 80%;
    max-width: 250px;
  }

  .welcome-section h1 {
    font-size: 2rem;
  }

  .welcome-section button {
    width: 80%;
    max-width: 150px;
    font-size: 1rem;
    padding: 9px;
  }
}